In [1]:
import pandas as pd
import numpy as np

In [35]:
train_ratings_df = pd.read_csv("../BERT4Rec/data/train_ratings.csv")
train_ratings_df

           user   item        time
0            11   4643  1230782529
1            11    170  1230782534
2            11    531  1230782539
3            11    616  1230782542
4            11   2140  1230782563
...         ...    ...         ...
5154466  138493  44022  1260209449
5154467  138493   4958  1260209482
5154468  138493  68319  1260209720
5154469  138493  40819  1260209726
5154470  138493  27311  1260209807

[5154471 rows x 3 columns]

- user column name to "userId"
- item column name to "movieId"
- add rating to 1.0
- time to "timestamp"

In [36]:
item_ids = train_ratings_df['item'].unique() # 6807
user_ids = train_ratings_df['user'].unique() # 31360

#-- Re-index user, item
# CAUTION : user starts with index 0 (1 ~ 31360)
#           item starts with index 1 (1 ~ 6807) 
item2idx = pd.Series(data=np.arange(len(item_ids)) + 1, index=item_ids)
user2idx = pd.Series(data=np.arange(len(user_ids)) + 1, index=user_ids)

# user2idx [original_user] = reIndexed user
# item2idx [original item] = reIndexed item
# user_ids [reIndexed user - 1] = original_user
# item_idx [reIndexed item - 1] = original_item

In [37]:
train_ratings_df = pd.merge(train_ratings_df, pd.DataFrame({'item': item_ids, 'movieId': item2idx[item_ids].values}), on='item', how='inner')
train_ratings_df = pd.merge(train_ratings_df, pd.DataFrame({'user': user_ids, 'userId': user2idx[user_ids].values}), on='user', how='inner')
train_ratings_df.sort_values(['userId', 'time'], inplace=True)
del train_ratings_df['item'], train_ratings_df['user']

In [38]:
train_ratings_df

              time  movieId  userId
0       1230782529        1       1
1       1230782534        2       1
2       1230782539        3       1
3       1230782542        4       1
4       1230782563        5       1
...            ...      ...     ...
368315  1260209449      424   31360
368422  1260209482     1492   31360
368301  1260209720      332   31360
368360  1260209726      734   31360
368458  1260209807     2257   31360

[5154471 rows x 3 columns]

In [39]:
train_ratings_df["rating"] = [1.0] * len(train_ratings_df["time"])

In [40]:
train_ratings_df.columns=["timestamp", "movieId", "userId", "rating"]

In [41]:
train_ratings_df = train_ratings_df[["userId", "movieId", "rating", "timestamp"]]
train_ratings_df

        userId  movieId  rating   timestamp
0            1        1     1.0  1230782529
1            1        2     1.0  1230782534
2            1        3     1.0  1230782539
3            1        4     1.0  1230782542
4            1        5     1.0  1230782563
...        ...      ...     ...         ...
368315   31360      424     1.0  1260209449
368422   31360     1492     1.0  1260209482
368301   31360      332     1.0  1260209720
368360   31360      734     1.0  1260209726
368458   31360     2257     1.0  1260209807

[5154471 rows x 4 columns]

In [34]:
train_ratings_df.to_csv("./ratings.csv", index=False)