In [11]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [72]:
bad_users = pd.read_csv('./data/train/bad_user_id_02.csv', header=None)

In [73]:
train_ratings = pd.read_csv('./data/train/train_ratings.csv')

In [77]:
all_users = set(train_ratings['user'].unique())

In [75]:
bad_users = set(bad_users.values.squeeze())

In [78]:
good_users = all_users - bad_users

In [79]:
good_users = sorted(list(good_users))

In [38]:
all_users

           user   item        time
0            11   4643  1230782529
1            11    170  1230782534
2            11    531  1230782539
3            11    616  1230782542
4            11   2140  1230782563
...         ...    ...         ...
5154466  138493  44022  1260209449
5154467  138493   4958  1260209482
5154468  138493  68319  1260209720
5154469  138493  40819  1260209726
5154470  138493  27311  1260209807

[5154471 rows x 3 columns]

In [49]:
users = []
items = []
times = []

for user_id in tqdm(good_users):
    idx = train_ratings[train_ratings['user']==user_id].index
    for user, item, time in train_ratings.iloc[idx].values:
        users.append(user)
        items.append(item)
        times.append(time)

100%|██████████| 25619/25619 [03:18<00:00, 129.09it/s]

In [50]:
train_ratings_good_users = pd.DataFrame({'user': users, 'item':items,'time':times})

In [80]:
print('Done!!')
print(f'Original users: {len(all_users)}')
print(f'Good Users: {len(good_users)}')
print(f'Bad Users: {len(bad_users)}')

print(f'Before preprocessing train_ratings: {len(train_ratings)}')
print(f'After preprocessing train_ratings: {len(train_ratings_good_users)}')

Done!!
Original users: 31360
Good Users: 25619
Bad Users: 5741
Before preprocessing train_ratings: 5154471
After preprocessing train_ratings: 4535765

In [65]:
train_ratings_good_users.to_csv('./data/train/train_ratings_good_user.csv')